@model List<User>
@{
    ViewData["Title"] = "UserReadAll";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Kullanıcılar</h1>
<br />
<br />
<table class="table table-bordered  table-hover">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        @*<th>Şifre</th>*@
        <th>Telefon</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Resim</th>
        <th>Eğitim</th>
        <th>Geçmiş</th>
        <th>Sil</th>

    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <th>@user.UserName</th>
            <td>@user.Email</td>
            @*<td>@user.Password</td>*@
            <td>@user.Telephone</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td><img alt="image" class="img-fluid" src="/img/@user.Image" style="width:50px;" height:"25px;"></td>

            <td>@user.Education</td>


            <td><a href="/User/UserBookHistory/@user.UserId" class="btn btn-outline-warning"> <b>Kitap Geçmişi</b></a></td>
            <td><a href="/User/DeleteUser/@user.UserId" id="DeleteBtn" onclick="return confirm('Silmek Istediginize Eminmisiniz');" class="btn btn-outline-danger"> <b>Sil</b></a></td>

        </tr>
    }
</table>
<br />
<a href="/User/AddUser/" class="btn btn-primary">Yeni Kullanıcı Ekle</a>  @*basına admin eklendi*@
<br />

<br />


