@model List<EntityLayer.Concrete.Book>
@{
    ViewData["Title"] = "GetlistBookId";
    Layout = "~/Areas/Showcase/Views/Shared/_AreaVitrinLayout.cshtml";
}
<!-- //banner -->
<!-- breadcrumbs -->
@foreach (var book in Model)
{
    <div class="crumbs text-center">
        <div class="container">

            <div class="row">
                <br />
                <br />
                <ul class="btn-group btn-breadcrumb bc-list">
                    <li class="btn btn1">
                        <a href="index.html">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>

                    <li class="btn btn2">

                        <a href="shop.html">Kitap Listesi</a>
                    </li>
                    <li class="btn btn3">
                        <a href="#">Kitap Listesi</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!--//breadcrumbs ends here-->
    <!-- Single -->
    <div class="innerf-pages section">
        <div class="container">

            <div class="col-md-4 single-right-left ">

                <div class="grid images_3_of_2">
                    <div class="flexslider1">
                        <ul class="slides">
                            <li data-thumb="images/s1.jpg">
                                <div class="thumb-image">
                                    <img src="/img/@book.BookImage" style="height:430px" width="300" data-imagezoom="true" alt=" " class="img-responsive">
                                </div>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem">



                <h3>
                    @book.BookName
                    <span></span>
                </h3>
                <p>
                    Tür:
                    <a href="#">@book.Category.Name</a>
                </p>
                <div class="caption">

                    <ul class="rating-single">
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                    <h6>
                    </h6>
                </div>
                <div class="desc_single">
                    <h5>Kitap Hakkında</h5>
                    <p>
                        @book.BookDescription
                    </p>
                </div>
                <div class="occasional">
                    <h5>İçerik:</h5>
                    <ul class="single_specific">
                        <li>
                            <span>Dil :</span> Türkçe
                        </li>
                        <li>
                            <span>Tür :</span> @book.Category.Name
                        </li>
                        <li>
                            <span>Yayın Evi :</span> @book.Publisher
                        </li>
                        <li>
                            <span>Basım Tarihi :</span> @book.PrintDate.ToShortDateString()
                        </li>
                        <li>
                            <span>Sayfa Sayısı :</span> @book.NumberPage
                        </li>
                    </ul>

                </div>



            </div>
            <div class="clearfix"> </div>

        </div>

    </div>
  
}
<!--// Single -->
<!-- footer -->
