@model IEnumerable<EntityLayer.Concrete.Movement>




<div class="ibox-content">

    <div>
        <div class="feed-activity-list">
            @if (Model.Count() > 0)
            {
                <h4>Kitaplar</h4>
            }
            else
            {
                <h3>Hiç Kitap okumadın ilk Kitabını oku..</h3>
            }


            @foreach (var movement in Model)
            {
                <div class="feed-element">
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-fluid" src="/img/@movement.Book.BookImage" width="85" height="100">
                    </div>
                    <div class="media-body ">

                        <small class="float-right text-navy">@movement.Book.Publisher Yayınevi / @movement.Book.PrintDate.ToShortDateString()</small>
                        <br />
                        <strong>@movement.Book.BookName</strong> /<strong>Sayfa Sayısı - @movement.Book.NumberPage @*Tür: @movement.Book.*@ </strong> <br>
                        <br />
                        <small class="text-muted">@movement.Book.BookDescription  <strong></strong> </small>
                        <small class="text-muted">@movement.AlisTarihi  <strong></strong> </small>
                        <small class="text-muted">@movement.IadeTarihi  <strong></strong> </small>
                        <!--<div class="actions">-->
                            @*<a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Oku </a>*@
                            <!--<a href="" class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Begen</a>
                            <a href="/book/BookReadAll/" class="btn btn-xs btn-success"><i class="fa fa-book"></i> Detay</a>
                        </div>-->
                    </div>
                </div>
            }
        </div>

        <a href="/Book/AddBook/" class="btn btn-primary btn-block m"> <i class="fa fa-book"></i> Yeni Kitap Ekle</a>
        @*<button class="btn btn-primary btn-block m"><i class="fa fa-book"></i> Yeni Kitap Ekle</button>*@

    </div>

</div>
