
@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<!DOCTYPE html>
<html>




@*<br />
    <a href="/Message/NewMessage/" class="btn btn-success btn-sm">Yeni Mesaj Oluştur</a>

    <td>
        <a class="btn btn-primary btn-sm" asp-controller="Message" asp-action="NewMessage" asp-route-username="@User.Identity.Name">Yeni Mesaj Oluştur</a>
    </td>*@




<head>



    @*<link href="~/aspnetadmin/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/aspnetadmin/font-awesome/css/font-awesome.css" rel="stylesheet">
    @*<link href="~/aspnetadmin/css/plugins/iCheck/custom.css" rel="stylesheet">*@
    <link href="~/aspnetadmin/css/animate.css" rel="stylesheet">
    <link href="~/aspnetadmin/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">


        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail" href="/Message/NewMessage/">Mail Oluştur</a>
                                <div class="space-25"></div>
                                <h5>Maillerim</h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li>
                                        <a class="fa fa-inbox" asp-controller="Message" asp-action="Inbox" asp-route-username="@User.Identity.Name">
                                             Gelen Kutusu

                                        </a>
                                    </li>
                                    @*<li><a href="/Message/Inbox/@User.Identity.Name"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right">16</span> </a></li>*@
                                    <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Gönderilen</a></li>

                                    <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i>Taslak <span class="label label-danger float-right">2</span></a></li>
                                    <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header">

                        <form method="get" action="index.html" class="float-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" name="search" placeholder="Search email">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        Ara
                                    </button>
                                </div>
                            </div>
                        </form>
                        <h2>
                            Inbox (16)
                        </h2>

                    </div>
                    <div class="mail-box">

                        <table class="table table-hover table-mail">
                            <tbody>
                                @foreach (var message in Model)
                                {
                                    <tr class="unread">
                                        <td class="check-mail">
                                            <input type="checkbox" class="i-checks">
                                        </td>

                                        <td class="mail-ontact"><a href="/Message/MessageDetails/@message.MessageId">@message.SenderUser.Name  @message.SenderUser.Surname</a></td>
                                        <td class="mail-subject"><a href="/Message/MessageDetails/@message.MessageId">@message.Subject</a></td>
                                        <td class=""><i class="fa fa-paperclip"></i>  @message.SenderUser.Email</td>
                                        <td class="text-right mail-date">@message.MessageDate.ToShortDateString()</td>
                                    </tr>
                                }



                            </tbody>
                        </table>


                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/aspnetadmin/js/jquery-3.1.1.min.js"></script>
    <script src="~/aspnetadmin/js/popper.min.js"></script>
    <script src="~/aspnetadmin/js/bootstrap.js"></script>
    <script src="~/aspnetadmin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/aspnetadmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/aspnetadmin/js/inspinia.js"></script>
    <script src="~/aspnetadmin/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/aspnetadmin/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
</body>

</html>


