@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "UserEditProfile1";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br />

@using (Html.BeginForm("UserEditProfile1", "User", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Bilgi Güncelleme Sayfası</h4>
                @Html.HiddenFor(x => x.UserId, new { @class = "form-control" })
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">İsim</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                     
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Soyisim</label>
                        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Kullanıcı Adı</label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">E-Mail</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Telefon Numarası</label>
                        @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">şifre</label>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Eğitim Bilgisi</label>
                        @Html.TextBoxFor(x => x.Education, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                            <input type="file" name="file" class="form-control" />

                        </div>
                    </div>

                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}
