@model List<Movement>
 @*Tuple<Movement,Book,Employee,User>*@ 
@{
    ViewData["Title"] = "LoanBookList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Ödünç Kitap Listesi</h1>


<br />
<br />
<table class="table table-bordered  table-hover">
    <tr>
        <th>Işlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye Adı Soyadı</th>
        <th>Personel Adı Soyadı </th>
        <th>Alış Tarihi </th>
        <th>Iade Tarihi </th>
        <th>İşlemler</th>


    </tr>
    @foreach (var movement in Model)
    {
        <tr>
            <td>@movement.MovementId</td>
            <td> <b> @*@ViewBag.GetListWithBook*@ @movement.Book.BookName </b></td>
            <td><b>@movement.UserId</b></td>
            <td><b>@movement.EmployeeId</b></td>
            <td><b>@movement.AlisTarihi.ToShortDateString()</b></td>
            <td><b>@movement.IadeTarihi.ToShortDateString()</b></td>
            <td><a href="/Loaned/TakeOnLoan/@movement.MovementId" id="DeleteBtn" onclick="return confirm('Iade Etmek Istediginize Eminmisiniz');" class="btn btn-outline-warning"> <b>Iade Et</b></a></td>

        </tr>
    }
</table>
<br />
<a href="/Loaned/Loan/" class="btn btn-primary">Ödünç Kitap Ver</a>
@*basına admin eklendi*@
<br />
