@model Movement
@{
    ViewData["Title"] = "TakeOnLoan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<h1>Geri İade İşlemi Sayfası</h1>
<br />
<form method="post" asp-controller="Loaned" asp-action="TakeOnLoanUpdate">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
            <input type="hidden" name="MovementId" value="@Model.MovementId" />
            <div class="form-group">
                <label asp-for="BookId"><b> Kitap ID: </b>  </label>
                <input asp-for="BookId" class="form-control" value="@Model.BookId" />
                <span asp-validation-for="BookId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserId"><b> Kullanıcı ID: </b>  </label>
                <input asp-for="UserId" class="form-control" value="@Model.UserId" />
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="EmployeeId"><b> Personel ID: </b>  </label>
                <input asp-for="EmployeeId" class="form-control" value="@Model.EmployeeId" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="AlisTarihi"><b> Alış Tarihi: </b>  </label>
                @Html.TextBoxFor(x => x.AlisTarihi, "{0: dd.MM.yyyy}", new { @class = "form-control" })
                <span asp-validation-for="AlisTarihi" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="IadeTarihi"><b> İade Tarihi: </b>  </label>
                @Html.TextBoxFor(x => x.IadeTarihi, "{0: dd.MM.yyyy}", new { @class = "form-control" })
                <span asp-validation-for="IadeTarihi" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="IadeTarihi"><b> Üyenin Getirdiği Tarih: </b>  </label>
                <input asp-for="IadeTarihi" type="datetime" name="UyeGetirdigiTarihi" value="@DateTime.Now.ToShortDateString()" class="form-control" />
                <span asp-validation-for="IadeTarihi" class="text-danger"></span>
            </div>
            <br />
            <label>Geç Gelen Gün Sayısı</label>
            <input type="text" class="form-control" id="gecgelenkitap" value="@ViewBag.dgr" />
            <br />

            <button type="submit" class="btn btn-primary">Ödünç Kitabı Geri Al</button>

        </div>
        <br />
    </div>
</form>




