@model Writer
@{
    ViewData["Title"] = "AddWriter";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yazar Ekleme Sayfası</h1>
<br />
<br />
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{
    @Html.Label("Yazar Adı:")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <br />
    @Html.Label("Yazar Soyadı:")
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Surname)
    <br />
    <br />
    @Html.Label("Yazar E-Mail:")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mail)
    <br />
    <br />
    @Html.Label("Yazar Şifre:")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Password)
    <br />
    <br />
    @Html.Label("Dosya Yolu:")
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Image)
    <br />
    <br />
    @Html.Label("Hakkında:")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description)
    <br />
    <br />
    <button class="btn btn-info"> Verileri Kaydet</button>
}



